<h1>A new reply report is created</h1>
<h2>Creator</h2>
id: <%= @creator.id %>
Email: <%= @creator.email%>
<h2>Reported Reply</h2>
id: <%= @reply.id %>
Content: <%= @reply.content %>
<h2>Reply Creator</h2>
id: <%= @reply.creator.id %>
Email: <%= @reply.creator.email %>
<h2>Reason:</h2>
<%= @content %>
